body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, .searcher {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input, button {
    margin: 5px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    max-width: 300px;
    margin: 0 auto;
  }
  
  li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  